<div
    id="main-container"
    class="flex flex-col w-[calc(100vw-48px)] max-w-[1400px] h-[calc(100vh-48px)] bg-black border border-zinc-700 shadow-[20px_20px_60px_#050505,-5px_-5px_20px_rgba(255,255,255,0.02)] relative overflow-hidden"
    hx-swap-oob="true"
>
    <div id="header">{{ header|safe }}</div>

    <main id="main-content" class="relative overflow-y-auto flex flex-col z-10">
        <div
            id="ledger-header"
            hx-tauri-invoke="render_ledger_header"
            hx-trigger="load"
        >{{ ledger_header|safe }}</div>
        <div
            id="expense-list"
            hx-tauri-invoke="render_transactions"
            hx-trigger="load"
        >{{ transactions|safe }}</div>
    </main>
</div>
